{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    <h1>Inscrivez-vous</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.firstname, {
            label: "Firstname - Prénom"
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: "Lastname - Nom de famille"
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary">Register - Créer un compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}

